<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.merrycodes.mapper.TagsMapper">

    <!-- 使用find_in_set(b.name, a.tags)也可以，网上查看效率都差不多（没有足够多的数据测试） -->
    <select id="selectTagsPageWithCont" resultType="com.merrycodes.entity.Tags">
        SELECT a.id,
               a.name,
               a.status,
               count(1) AS count,
               a.create_time,
               a.update_time
        FROM tags a,
             article b
        WHERE locate(a.name, b.tags)
        Group By name
    </select>
</mapper>